.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 20px;
  max-height: 400px;
  background-color: whitesmoke;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
  z-index: 100;
  flex: 1 0 21%;
}

.product__rating {
  display: flex;
}

.product img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
}

.product > button {
  background: bisque;
  border: 1px solid;
  margin-top: 10px;
  border-color: darkgoldenrod;
  color: #111;
  cursor: pointer;
}

.product__price {
  margin-top: 3px;
  font-weight: 500;
  color: black;
}

.product__info {
  width: 100%;
  flex-direction: column;
  display: flex;
}
